.testimonials {
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container-test {
  height: 650px;
  max-width: 60%;
  text-align: center;
  padding: 70px 0px 70px 0px;
}

.blur-back {
  background: #f28705;
  border-radius: 50%;
  opacity: 0.5;
  height: 628px;
  position: relative;
  filter: blur(51.85px);
  display: flex;
  justify-content: center;
  align-self: center;
  bottom: 30rem;
}

.titulo-test {
  align-items: end;
  color: white;
}

.description-test {
  color: #ffffff;
  text-align: right;
  font-size: 20px;
  letter-spacing: -0.04em;
  font-weight: 500;
}

.agrupa-blocos {
  display: grid;
  grid-template-columns: 350px 350px; /* Duas colunas de 350px */
  grid-template-rows: auto auto; /* Altura automática para se ajustar ao conteúdo */
  gap: 20px; /* Espaçamento entre os blocos */
  justify-content: center;
  width: 100%;
  max-width: 800px; /* Mantém alinhado ao centro */
  margin: 40px auto 0 auto; /* Centraliza a seção */
}

.test1 {
  grid-column: 1; /* Primeira coluna */
  grid-row: 1 / span 3; /* Ocupa duas linhas */
  height: 420px;
  width: 350px;
  background: #fade8a;
}

.test2 {
  grid-column: 2; /* Segunda coluna */
  grid-row: 1; /* Primeira linha */
  height: 200px;
  width: 350px;
  background: #fade8a;
}

.test3 {
  grid-column: 3; /* Segunda coluna */
  grid-row: 1; /* Segunda linha */
  height: 200px;
  width: 350px;
  background: #fade8a;
}

.test4 {
  grid-column: span 2; /* Ocupa as duas colunas */
  grid-row: 2; /* Terceira linha */
  height: 200px;
  width: 720px;
  background: #fade8a;
}